In [5]:
print("test")
a = 1
print(a)
a += 1
print(a)
x = y = 1
print(x, y)
x = 3
x /= 3
print(x, y)

test
1
2
1 1
1.0 1

In [10]:
lista = ['a', 'c', '5', '2', '*']
li = [lista]
print(li)
print(lista[1])
print(li[0][1])

[['a', 'c', '5', '2', '*']]
c
c

In [11]:
print(not '')

True

In [18]:
listll=[2,3,4,2,3,4]
print(listll.index(2))
print(listll.index(3))
# print(listll.index(5))

0
1

In [20]:
# list.insert(index, obj) 在下表index处插入obj
print(listll)
listll.insert(2, 5)
print(listll)

[2, 3, 4, 2, 3, 4]
[2, 3, 5, 4, 2, 3, 4]

In [27]:
print(listll)
# listll.pop()
# print(listll)
# list.pop() 移除列表中的一个元素（默认最后一个元素），并且返回该元素的值
listll.pop(2) # 移除下标index为2的元素
print(listll)

[2, 3, 4, 2, 3]
[2, 3, 2, 3]

In [32]:
print(listll)
# list.remove(obj) 移除列表中某个值的第一个匹配项
listll.remove(3)
print(listll)
# listll.remove(5) # 不存在的元素会报错

[2, 2, 3]
[2, 2]

In [34]:
print(listll)
listll.append(5)
listll.append(6)
listll.append('a')
print(listll)

[2, 2]
[2, 2, 5, 6, 'a']

In [35]:
# list.reverse() 反向列表中元素
listll.reverse()
print(listll)

['a', 6, 5, 2, 2]

In [ ]:
# 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
90 45 15 5 1
2*3*3*5

In [36]:
a = 1
b = True
print(a * b)

1

In [39]:
y = 2
x = (y == 1)
print(x)

False

In [ ]:
x = False
y = True
z = True
print(x and y or z)

In [40]:
listx = ["1",]
print(listx)

['1']

In [41]:
str="123456789"
print(str*2)

123456789123456789

In [42]:
print(2**3)

8

In [43]:
list11 = [1,2,3,4,5,6,7,8,9]
list22 = [list11]
print(list11)
print(list22)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[[1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [45]:
# 输出5
print(list11[4])
print(list22[0][4])
list22.append(5)

5
5

In [46]:
print(list11)
print(list22)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[[1, 2, 3, 4, 5, 6, 7, 8, 9], 5]

In [50]:
list33 = [2, [2, 2], 'a', [2, 3, 4]]
print(len(list33))
print(list33[3])
print(list33[3][1])

4
[2, 3, 4]
3

In [51]:
list4 = [2, [2, 2], 'a', [2, 3, ['a', 'b'], 4]]
print(list4[3][2][1])

b

In [52]:
# 1000 11
# 每超过500克，加5元
# 980 11
# 1000 11


# 1001 16 1001-1000=1   取上整(1/500)=1   11+1*5=16
# 1500 16 1500-1000=500 取上整(500/500)=1 11+1*5=16
# 1501 21 1501-1000=501 取上整(501/500)=2 11+2*5=21

SyntaxError: invalid syntax (2053516902.py, line 1)